<style>

    .nav-tabs li>a:after {
        content: "";
        left: 0
    }
    .nav-tabs li>a {
        font-weight: 500;
        text-transform: uppercase
    }
    .nav-tabs {
        list-style: none;
        padding: 0;
        white-space: nowrap;
        margin: 0;
        overflow: auto;
        box-shadow: inset 0 -2px 0 0 #eee;
        width: 100%
    }
    .nav-tabs li {
        display: inline-block;
        vertical-align: top
    }
    .nav-tabs li>a {
        display: inline-block;
        color: #7a7a7a;
        position: relative;
        width: 100%;
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms
    }
    .nav-tabs li>a:after {
        height: 2px;
        position: absolute;
        width: 100%;
        bottom: 0;
        -webkit-transition: all;
        -o-transition: all;
        transition: all;
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0)
    }
    @media (min-width: 768px) {
        .nav-tabs li>a {
            padding: 15px
        }
    }
    @media (max-width: 768px) {
        .nav-tabs li>a {
            padding: 15px 8px
        }
    }
    .nav-tabs li.active>a {
        color: #000
    }
    .nav-tabs li.active>a:after {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    .nav-tabs.nav-tabs-right {
        text-align: right
    }
    .nav-tabs.tn-justified>li {
        display: table-cell;
        width: 1%;
        text-align: center
    }
    .nav-tabs.tn-icon>li .zmdi {
        font-size: 22px;
        line-height: 100%;
        min-height: 25px
    }
    .nav-tabs:not([data-tab-color])>li>a:after {
        background: #2196F3
    }
    .nav-tabs[data-tab-color=green]>li>a:after {
        background: #4CAF50
    }
    .nav-tabs[data-tab-color=red]>li>a:after {
        background: #F44336
    }
    .nav-tabs[data-tab-color=teal]>li>a:after {
        background: #009688
    }
    .nav-tabs[data-tab-color=amber]>li>a:after {
        background: #FFC107
    }
    .nav-tabs[data-tab-color=black]>li>a:after {
        background: #000
    }
    .nav-tabs[data-tab-color=cyan]>li>a:after {
        background: #00BCD4
    }

</style>

<div class="container" ng-controller="topicCtrl">
    <div class="block-header">
        <h2>Topic Form</h2>

        <ul class="actions">
            <li>
                <a href="#">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="#">Refresh</a>
                    </li>
                    <li>
                        <a href="#">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="#">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Basic Example</h2>
        </div>
        <div class="card-body card-padding">
            <form role="form" name="topicForm" ng-submit="saveTopic(topic)" autocomplete="off">
                <uib-tabset>
                    <uib-tab index="0" heading="Content">
                        <div class="form-group fg-line">
                            <label for="levelId">Level</label>
                            <select class="form-control input-sm" id="levelId"
                                   placeholder="Enter title" ng-model="topic.levelId" name="levelId">
                                <option value="1">Bachelor</option>
                                <option value="2">Master</option>
                                <option value="3">Doctorate</option>
                            </select>
                        </div>
                        <div class="form-group fg-line">
                            <label for="title">Title</label>
                            <input type="text" class="form-control input-sm" id="title"
                                   placeholder="Enter title" ng-model="topic.title" name="title">
                        </div>
                        <div class="form-group fg-line">
                            <label for="sourceUrl">Source URL</label> 
                            <input type="text" class="form-control input-sm" id="sourceUrl" name="sourceUrl"
                                   placeholder="Enter Source URL" ng-model="topic.sourceUrl">
                        </div>
                        <div class="form-group fg-line">
                            <label for="description">Description</label>
                            <textarea class="form-control input-sm" placeholder="Enter Meta Description" ng-model="topic.description" id="description"></textarea>
                        </div>
                        <div class="form-group fg-line">
                            <label for="slug">Slug</label>
                            <input type="text" class="form-control input-sm" id="slug" name="slug"
                                   placeholder="Enter Slug" ng-model="topic.slug">
                        </div>
                        <div class="form-group fg-line">
                            <label for="file">File</label>
                            <input type="file" class="form-control input-sm" id="file" name="file"
                                   placeholder="Enter file" ng-model="topic.file">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" ng-model="topic.enable">
                                <i class="input-helper"></i>
                                Enable
                            </label>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="SEO">
                        <div class="form-group fg-line">
                            <label for="h1">Page H1</label>
                            <input type="text" class="form-control input-sm" id="h1" name="h1"
                                   placeholder="Enter h1" ng-model="topic.h1">
                        </div>
                        <div class="form-group fg-line">
                            <label for="metaTitle">Meta Title</label>
                            <input type="text" class="form-control input-sm" id="metaTitle" name="metaTitle"
                                   placeholder="Enter h1" ng-model="topic.metaTitle">
                        </div>
                        <div class="form-group fg-line">
                            <label for="metaKeywords">Meta Keywords</label>
                            <input type="text" class="form-control input-sm" id="metaKeywords" name="metaKeywords"
                                   placeholder="Enter metaKeywords" ng-model="topic.metaKeywords">
                        </div>
                        <div class="form-group fg-line">
                            <label for="metaDescription">Meta Description</label>
                            <textarea class="form-control input-sm" placeholder="Enter Meta Description" ng-model="topic.metaDescription" id="metaDescription" name="metaDescription"></textarea>
                        </div>

                    </uib-tab>
                    <uib-tab index="2" heading="Author">
                        <div class="form-group fg-line">
                            <label for="authorName">Author Name</label>
                            <input type="text" class="form-control input-sm" id="authorName" name="authorName"
                                   placeholder="Enter authorName" ng-model="topic.authorName">
                        </div>
                        <div class="form-group fg-line">
                            <label for="authorPicture">Author Image</label>
                            <input type="text" class="form-control input-sm" id="authorPicture" name="authorPicture"
                                   placeholder="Enter authorPicture" ng-model="topic.authorPicture">
                        </div>
                        <div class="form-group fg-line">
                            <label for="authorDescription">Author Description</label>
                            <textarea class="form-control input-sm" placeholder="Enter author Description" ng-model="topic.authorDescription" id="authorDescription" name="authorDescription"></textarea>
                        </div>
                    </uib-tab>
                </uib-tabset>
                <button type="submit" class="btn btn-primary btn-sm m-t-10" ladda="loading" data-style="slide-right">Submit</button>
            </form>
        </div>
    </div>

</div>
